.ButtonContainer {
  width: 150px;
  height: 40px;
  background: #272727;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s all;
  border: 1px dashed transparent;
}

.ButtonLabel {
  color: #9f9f9f;
  font-size: 14px;
}

.KeyBinding {
  border: 1px solid #9f9f9f;
  color: #9f9f9f;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.KeyBindingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
