.MainChatContainerLight,
.MainChatContainerDark {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.GroupDeletionNoticeLight,
.GroupDeletionNoticeDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 5px;
}

.LogoutButtonDark,
.LogoutButtonLight {
  border-radius: 50px;
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid transparent;
  gap: 10px;
  transition: 0.4s all;
  cursor: pointer;
  font-size: 13px;
}

.LogoutButtonDark {
  background: #202020;
  color: white;
}

.LogoutButtonLight {
  background: #bdbdbd;
  color: black;
}

.LogoutButtonLight:hover {
  background: #ff5353;
  color: black;
}

.LogoutButtonDark:hover {
  background: #d75151;
  color: black;
}

.GroupDeletionNoticeDark {
  color: #989898;
}

.MainChatContainerDark {
  background-color: #252525;
}

.MainChatContainerLight {
  background-color: #989898;
}

.TopBarDark,
.TopBarLight,
.BottomBarLight,
.BottomBarDark {
  height: 15px;
  width: 3px;
  border-radius: 30px;
}

.TopBarDark,
.BottomBarDark {
  background-color: #989898;
}

.TopBarLight,
.BottomBarLight {
  background-color: #2f2f2f;
}

.AddGroupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 5;
  background: #0000003b;
}

.AddGroupDialogDark,
.AddGroupDialogLight {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
  /* height: 50%; */
  border-radius: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.AddGroupDialogDark {
  background: #2f2f2f;
}

.AddGroupDialogLight {
  background: rgb(207, 207, 207);
}

.ServerContainerDark,
.ServerContainerLight {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  transition: 0.4s all;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.ServerContainerDark {
  box-shadow: 0px 0px 30px 1px #1c1c1c;
  background-color: #2f2f2f;
}

.ServerContainerLight {
  box-shadow: 0px 0px 30px 1px rgb(121 121 121);
  background-color: rgb(207, 207, 207);
}

.Hamburger {
  /* margin-top: 50%; */
  /* transform:translateY(50%); */
  display: flex;
  position: relative;
  width: 20px;
  height: 15px;
  /* gap: 5px; */
  /* height: 15px; */
  background-color: transparent;
  /* gap: 1px; */
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  align-items: stretch;
}

.HamburgerLine {
  position: relative;
  background-color: rgb(134, 134, 134);
  width: 100%;
  height: 2px;
  border-radius: 1px;
}

.ChatHistoryBlockDark,
.ChatHistoryBlockLight {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 15vw;
  min-width: 250px;
  height: 100%;
  border-radius: 10px;
  padding: 5px;
  overflow: auto;
}

.ChatHistoryBlockDark {
  background: #252525;
}

.ChatHistoryBlockLight {
  background: #bdbdbd;
}

.ServerListDark,
.ServerListLight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 135px;
  gap: 10px;
  margin-top: 10px;
  margin-left: 5px;
}

.ServerIconDark,
.ServerIconLight {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ServerIconDark {
  background: #181818;
  color: #989898;
}

.ServerIconLight {
  background: #878787;
  color: #2f2f2f;
}

.TopProfileViewDark,
.TopProfileViewLight {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.TopProfileViewDark {
  color: #bdbdbd;
}

.TopProfileViewLight {
  color: #2f2f2f;
}

.ChatBoxProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.ProfileStatusLight,
.ProfileStatusDark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-left: -10px;
  gap: 10px;
}

.ProfileStatusLight {
  background: #bdbdbd;
}

.ProfileStatusDark {
  background: #202020;
}

.OnlineStatusLight,
.OnlineStatusDark {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.OnlineStatusDark {
  background: yellowgreen;
}

.OnlineStatusLight {
  background: green;
}

.HistoryItemDark,
.HistoryItemLight {
  width: 100%;
  cursor: pointer;
  min-height: 50px;
  border-radius: 5px;
  /* padding: 10px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.EmptyChatContainerDark,
.EmptyChatContainerLight {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 200;
  gap: 50px;
}

.EmptyChatContainerDark {
  color: #bdbdbd;
}

.EmptyChatContainerLight {
  color: #2f2f2f;
}

.HistoryItemDark {
  background: #2f2f2f;
}

.HistoryItemLight {
  background: rgb(207, 207, 207);
}

.ProfilePictureDark,
.ProfilePictureLight {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  color: pink;
  font-size: 20px;
  font-weight: 100;
  justify-content: center;
  align-items: center;
}

.ProfilePictureDark {
  background-color: #202020;
}

.ProfilePictureLight {
  background-color: #bdbdbd;
}

.HistoryBlockInfo {
  height: 100%;
  width: 70%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.LastMessageDark,
.LastMessageLight,
.NameDark,
.NameLight {
  width: 50%;
  height: 15px;
  border-radius: 10px;
  transition: 0.4 all;
}

.LastMessageDark,
.LastMessageLight {
  width: 70%;
}

.LastMessageDark,
.NameDark {
  background-color: #1c1c1c;
}

.LastMessageLight,
.NameLight {
  background-color: #bdbdbd;
}

@keyframes shine {
  0% {
    background-color: #1c1c1c;
  }
  50% {
    background-color: #292929;
  }
  100% {
    background-color: #1c1c1c;
  }
}

.LoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  min-height: 30px;
  width: 100%;
  transition: 0.4s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.LoadingCircle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 5px dotted #444444;
  animation: rotate 2s infinite;
}

.ChatListTypeSwitcherContainerDark,
.ChatListTypeSwitcherContainerLight {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
  width: 230px;
  border-radius: 50px;
  justify-content: space-around;
  align-items: center;
}

.ChatListTypeSwitcherContainerDark {
  background: #202020;
}

.ChatListTypeSwitcherContainerLight {
  background: #bdbdbd;
}

.ChatListTypeSelectorDark,
.ChatListTypeSelectorLight {
  height: 40px;
  width: 110px;
  border-radius: 50px;
  position: absolute;
  transition: 0.4s all;
}

.ChatListTypeSelectorDark {
  background: #2f2f2f;
}

.ChatListTypeSelectorLight {
  background: rgb(207, 207, 207);
}

.LatestMessageFetcherDark,
.LatestMessageFetcherLight {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 30px;
  border-radius: 50px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  bottom: 150px;
  position: absolute;
  cursor: pointer;
}

.LatestMessageFetcherDark {
  background: #202020ad;
  color: #bdbdbd;
}

.LatestMessageFetcherLight {
  background: #bdbdbda1;
  color: #2f2f2f;
}

.LeftSubContainer,
.RightSubContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.RightSubContainer {
  width: 60%;
  height: 100%;
}

.ChatBoxContainerDark,
.ChatBoxContainerLight {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.MessageBoxContainerLight,
.MessageBoxContainerDark {
  width: 40%;
  position: fixed;
  height: 50px;
  margin-left: 5%;
  border-radius: 50px;
  transition: 0.4s all;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  display: flex;
}

.AddAttachmentButtonLight,
.AddAttachmentButtonDark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transition: 0.4s all;
  cursor: pointer;
  margin-bottom: 2px;
  /* border: 2px solid; */
}

.AttachmentListContainerLight,
.AttachmentListContainerDark {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.2s all;
  justify-items: center;
  justify-content: center;
  /* padding: 10px; */
  box-sizing: border-box;
  height: 60px;
  width: 80%;
  overflow: auto;
  gap: 10px;
  /* margin-bottom: -10px; */
}

.MessageBlockSenderDark,
.MessageBlockReceiverDark,
.MessageBlockSenderLight,
.MessageBlockReceiverLight {
  /* min-height: 40px; */
  min-width: 80px;
  max-width: 300px;
  width: fit-content;
  /* height: fit-content; */
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*padding: 10px;*/
}

.MessageBlockSenderDark,
.MessageBlockReceiverDark {
  background: rgb(74, 137, 253);
  color: #202020;
}

.MessageBlockSenderLight,
.MessageBlockReceiverLight {
  background: rgb(56, 104, 192);
  color: rgb(207, 207, 207);
}

.MessageBlockSenderDark,
.MessageBlockSenderLight {
  border-radius: 5px 20px 20px 20px;
  align-self: flex-start;
  padding: 10px 30px 10px 10px;
}

.MessageBlockReceiverDark,
.MessageBlockReceiverLight {
  border-radius: 20px 5px 20px 20px;
  align-self: flex-end;
  padding: 10px 10px 10px 15px;
}

.AttachmentItemDark,
.AttachmentItemLight {
  height: 100%;
  cursor: pointer;
  min-width: fit-content;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  transition: 0.4s all;
}

.AttachmentItemDark {
  background: #202020;
  color: #989898;
}

.AttachmentItemLight:hover {
  background: #939393;
}

.AttachmentItemDark:hover {
  background: black;
}

.AttachmentItemLight {
  background: #bdbdbd;
  color: #2f2f2f;
}

.MessageBoxSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: unset;
  width: 80%;
  gap: 10px;
}

.AddAttachmentButtonDark {
  background: #202020;
}

.AddAttachmentButtonLight {
  background: #bdbdbd;
}

.SendButton {
  height: 40px;
  width: 45px;
  border-radius: 50px;
  background: rgb(74, 137, 253);
  cursor: pointer;
  transition: 0.4s all;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SendButton:active {
  background: rgb(46, 79, 139);
}

.TimestampBlockReceiver,
.TimestampBlockSender {
  width: 100%;
  font-size: 12px;
  /*margin-top: 20px;*/
}

.TimestampBlockReceiver {
  text-align: end;
}

.TimestampBlockSender {
  text-align: start;
}

.MessageTextBoxDark,
.MessageTextBoxLight {
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 20px;
  resize: none;
}

.MessageTextBoxDark {
  color: #989898;
}

.MessageTextBoxLight {
  color: #202020;
}
