.InputBox,
.InputBoxErrorState {
  background-color: #202020;
  padding: 10px;
  min-width: 200px;
  min-height: 20px;
  font-size: 15px;
  border-radius: 10px;
  color: #989898;
  border: 3px solid transparent;
  transition: 0.2s all;
}

.InputBoxErrorState {
  border-color: #ff0076;
  animation: 0.4s shake;
}

@keyframes shake {
  0% {
    margin-left: 10px;
  }
  25% {
    margin-left: -10px;
  }
  50% {
    margin-left: 10px;
  }
  75% {
    margin-left: -10px;
  }
  100% {
    margin-left: 0px;
  }
}

.InputBoxErrorState::placeholder,
.InputBox::placeholder {
  color: #5c5c5c;
}

.InputBoxErrorState:focus,
.InputBox:focus {
  background-color: #202020;
  color: #989898;
  border-radius: 10px;
  border-color: rgb(74, 137, 253);
}
