.InputContainer {
  width: fit-content;
  height: 30px;
  display: block;
  padding: 0px 10px 0px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.InputText,
.InputTextErrorState {
  width: 200px;
  height: 60%;
  color: #9f9f9f;
  font-family: monospace;
  text-align: center;
  font-size: 15px;
  background: #272727;
  padding: 10px;
  border-radius: 6px;
  border: 1px dashed transparent;
  transition: 0.4s all;
}

.InputText {
  border-bottom: 2px solid #9f9f9f;
}

.InputTextErrorState {
  animation: shake 0.2s;
  border-bottom: 2px solid #ff007f;
}

@keyframes shake {
  0% {
    transform: translate(-10px, 0%);
  }
  25% {
    transform: translate(10px, 0%);
  }
  50% {
    transform: translate(-10px, 0%);
  }
  99% {
    transform: translate(10px, 0%);
  }
  100% {
    transform: translate(0px, 0%);
  }
}

.InputText:placeholder {
  color: #9f9f9f;
}

.InputText:focus {
  /* width: 210px; */
  /* height: 101%; */
  color: mediumpurple;
  border-bottom: 2px solid mediumpurple;
}

.SubTitle {
  color: #9f9f9f;
  font-size: 20px;
}
