.SignupMainContainerDark,
.SignupMainContainerLight {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
}

.SignupMainContainerDark {
  background: #2f2f2f;
}

.SignupMainContainerLight {
  background: rgb(207, 207, 207);
}

.PageControlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: unset;
  position: absolute;
  top: 3%;
  /* right: 50%; */
  transform: translateX(50%);
}

.back-buttonDark,
.back-buttonLight {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}

.back-buttonDark {
  background-color: rgb(29, 29, 29);
  color: #989898;
}

.back-buttonLight {
  background-color: #bdbdbd;
  color: #2f2f2f;
}

.triangle-leftDark,
.triangle-rightDark,
.triangle-leftLight,
.triangle-rightLight {
  content: '';
  left: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transition: all 0.3s;
}

.triangle-leftDark {
  border-right: 8px solid #989898;
}

.triangle-leftLight {
  border-right: 8px solid #2f2f2f;
}

.triangle-rightLight {
  border-left: 8px solid #2f2f2f;
}

.triangle-rightDark {
  border-left: 8px solid #989898;
}

.back-buttonLight:hover,
.back-buttonDark:hover {
  border-radius: 10px;
  /* box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.212); */
}

.back-buttonDark:active {
  background-color: black;
}

.back-buttonLight:active {
  background-color: #989898;
}

.Page {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: unset;
  justify-content: center;
  align-items: center;
}

:root {
  --indicator-inactive: 15px;
  --indicator-active: 17px;
}

.PageIndicatorInactiveDark,
.PageIndicatorInactiveLight,
.PageIndicatorActive {
  width: 15px;
  height: 15px;
  transition: 0.4s all;
  border-radius: 50%;
}

.PageIndicatorInactiveDark {
  background: #202020;
}

.PageIndicatorInactiveLight {
  background: #bdbdbd;
}

.PageIndicatorActive {
  background: rgb(74, 137, 253);
}

.PageIndicatorContainer {
  bottom: 2%;
  position: absolute;
  width: 100%;
  height: unset;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.MarkDownContainer {
  border-radius: 10px;
  background-color: #202020;
  color: #989898;
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.PictureContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid rgb(74, 137, 253);
  cursor: pointer;
  /* transition: 0.4s all; */
}

.PictureContainer:focus {
  height: 100px;
  width: 100px;
}

#AddPicture {
  color: #989898;
  font-size: 60px;
  margin-top: 50px;
}

.PictureEditContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.PictureEditWindow {
  width: 70%;
  height: unset;
  max-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.ProfileImage,
.PictureImageHover {
  position: absolute;
  /* transform: translate(50%, 50%); */
  /* right: 50%; */
  /* bottom: 50%; */
  border-radius: 50%;
  transition: 0.4s all;
  z-index: -1;
}
