/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.App {
  position: relative;
  color: black;
  height: 100vh;
  /* background: white; */
  font-family: monospace;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body {
  background: #2f2f2f;
  overflow: hidden;
}

input[type='text'] {
  appearance: none;
  outline: none;
}

input[type='password'] {
  appearance: none;
  outline: none;
}
